@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import "react-multi-carousel/lib/styles.css";
@import "~react-image-gallery/styles/css/image-gallery.css";
@import "react-responsive-carousel/lib/styles/carousel.min.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header-padding {
  padding: 20px;
}

.category-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.category-data p {
  color: red;
}
.info-text {
  font-size: 10px;
}

.info-header {
  font-size: 14px;
  font-weight: bold;
}

.banner-image {
  width: 100% !important;
}

.healthy-container {
  display: grid;
  margin: auto;
  padding: 10px 0;
  grid-template-columns: auto auto auto;
  gap: 15px;
}

.product-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
